.gradient {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
}

.gradientBlack {
  background-image: linear-gradient(
    180deg,
    rgb(0, 0, 0) 10%,
    hsl(0, 0%, 4%)
  );
  
}
li {
  transition: color 0.4s;
}
li:hover {
  color: #c7c7c7;
}
.search-box {
  position: relative;
}

.search-box:hover > .search-text {
  width: 240px;
  background: #2f3640;
  padding: 0 6px;
  border: 1px solid white;
}

.search-box:hover > .search-btn {
  background: #2f3640;

}

.search-btn {
  float: left;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: normal;
  transition: 0.4s;
  line-height: 39.5px;
  width: 0px;
}
